
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal {
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 400px;
    max-width: 90%;
}

.modal h2 {
    margin-bottom: 20px;
}

.tabs {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.tabs button {
    padding: 10px 20px;
    border: none;
    background: #f0f0f0;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.tabs button.active {
    background: #007bff;
    color: white;
}

.color-picker input[type="color"] {
    width: 100%;
    height: 50px;
    border: none;
    cursor: pointer;
}

.image-upload input[type="file"] {
    margin-bottom: 20px;
}

.image-preview img {
    max-width: 100%;
    border-radius: 4px;
    margin-top: 10px;
}

.modal-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    transition: background-color 0.3s;
}

.modal-buttons button {
    margin:4px;
    border: none;
    background: #f0f0f0;
    color: #333;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.save-btn:hover {
    background: rgba(101, 162, 76, 0.87);
}

.delete-btn:hover {
    background: rgba(220, 86, 86, 0.76);
}

.modal-buttons button.cancel-btn {
    background: #f0f0f0;
    color: #333;
}

.modal-buttons button.cancel-btn:hover {
    background: #ddd;
}

.new-task-input {
    width: 94%;
    padding: 10px 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    transition: border-color 0.2s;
}

.tag-section input {
    width: 94%;
    padding: 10px 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    transition: border-color 0.2s;
}

.tag-section input:focus {
    outline: none;
    border-color: #626262;
    box-shadow: 0 0 0 2px rgba(201, 201, 201, 0.2);
}
.tag-section h4 {
    text-align: left;
    font-size: 14px;
    margin-left: 0;
    margin-bottom: 10px;
}

.color-grid-container h5 {
    font-size: 14px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 12px;
}