
.todo-item {
    padding: 8px;
    margin: 5px 5px 0;
    background-color: #777777;
    font-size: smaller;
    font-style: normal;
    font-family: "Arial", sans-serif;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    word-wrap: break-word;
    white-space: normal;
    word-break: break-word;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
}
.todo-item > strong {
    display: inline-block;
    max-width: 198px;
}
.todo-item:hover {
    transform: scale(1.01);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);

}

.add-todo-btn {
    position: absolute;
    bottom: 10px;
    margin-top: 13px;
    padding: 0;
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #999999;
    font-size: 30px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: none;
    background-color: transparent;
}

.todo-list {
    flex-grow: 1;
}

.add-todo-btn:hover {
    background-color: transparent;
}

.add-todo-btn span {
    display: inline-block;
    font-style: normal;
    font-weight: lighter;
    transition: all 0.1s ease-in-out;
    line-height: 1;
}
.add-todo-btn span:hover {
    color: #444444;
    display: inline-block;
    font-style: normal;
    font-weight: lighter;
    line-height: 1;
}

.column-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.column-header h2 {
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    cursor: pointer;
    transition: color 0.3s ease;
}
.column-header h2:hover {
    color: rgba(35, 35, 35, 0.84);
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    cursor: pointer;
    transition: color 0.1s ease;
}

.column-settings-wrapper {
    position: relative;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;

}

.column-settings-btn {
    background-color: transparent;
    color: black;
    padding: 0;
    width: fit-content;
    text-align: center;
    font-size: 13px;
    justify-content: center;
    display: compact;
    transition: color 0.3s ease;
}

.column-settings-btn:hover {
    background-color: transparent;
}

.column-settings-btn span:hover {
    color: #444444;
    display: inline-block;
    font-style: normal;
    font-weight: lighter;
    line-height: 1;
}
.avatar-button-tag {
    background: transparent;
    border: 1px solid black;
    padding: 0;
    margin: 0 4px;
    border-radius: 50%;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.avatar-button-tag:hover {
    background: transparent;
    border: 1px solid black;
    padding: 0;
    margin: 0 4px;
    border-radius: 50%;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transform: scale(0.95);
}

.avatar-button-tag:focus {
    background: transparent;
    border: 1px solid black;
    padding: 0;
    margin: 0 4px;
    border-radius: 50%;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transform: scale(0.80);
}
.board-users-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 0;
}