.profile-page {
    margin-left: 260px;
    height: calc(100vh - 46px);
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.profile-container {
    width: 600px;
    height: 600px;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.profile-container ul {
    list-style: none;
    padding: 0;
    margin: 40px;
}

.profile-container li {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.profile-container label {
    margin-bottom: 8px;
    font-size: 14px;
    color: #333;
    font-weight: bold;
}

.profile-container input[type="text"],
.profile-container input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;
}

.avatar-wrapper .avatar-container .avatar {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px auto 20px auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    font-size: 40px;
    font-weight: bold;
}
