/* Column Styles */
.columns {
    display: flex;
    align-items: flex-start; /* Align columns to the top */
    gap: 10px;
}

.todo-column {
    flex: 0 0 16%; /* Adjust the width to be smaller (e.g., 18% of available space) */
    padding: 10px;
    border: 1px solid #ccc;
    min-height: auto;
    background-color: #dadada;
    border-radius: 8px;
    position: relative;
    box-sizing: border-box; /* Ensure padding does not affect column width */
    overflow-y: auto; /* Allows vertical scrolling when content exceeds column height */
}

/* Column Title */
.todo-column h2 {
    font-size: 16px; /* Smaller font size for the title */
    font-weight: 500;
    margin-bottom: 10px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.todo-column h2:hover {
    color: #3498db;
}

.todo-column.transparent {
    background-color: transparent;
    border: 2px dashed #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    cursor: pointer;
}

.todo-column.transparent:hover {
    border-color: #aaa;
}

.column-settings {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.dropdown-menu {
    position: absolute;
    top: 30px;
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    padding: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.dropdown-menu button {
    background-color: #f8f8f8;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 100%;
}

.dropdown-menu button:hover {
    background-color: #e0e0e0;
}