
.columns {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.todo-column {
    flex: 0 0 260px;
    min-width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    min-height: 100px;
    background-color: rgba(255, 255, 255, 0.89);
    border-radius: 3px;
    position: relative;
    box-sizing: border-box;
    overflow-y: auto;
}

.todo-column h2 {
    font-size: 16px;
    font-weight: 600;
    margin: 1px 0 15px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.todo-column h2:hover {
    color: #3498db;
}

.todo-column.transparent {
    background-color: transparent;
    border: 2px dashed #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    cursor: pointer;
}

.todo-column.transparent:hover {
    border-color: #aaa;
}

.column-settings {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.column-settings-dropdown-menu {
    position: absolute;
    top: 16px;
    right: 0;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 7px;
    padding: 10px 0;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    min-width: 150px;
    font-family: "Arial", sans-serif;
    font-size: 10px;
    visibility: hidden;
    transition: opacity 0.2s ease, visibility 0.2s ease;
    z-index: 9999;
}
.column-settings-dropdown-menu {
    display: block;
    opacity: 1;
    visibility: visible;
}

.column-settings-dropdown-menu button {
    background-color: transparent;
    color: black;
    font-weight: normal;
    border: none;
    padding: 6px 12px 6px;
    border-radius: 0px;
    cursor: pointer;
    width: 100%;
    margin-top: 2px;
    text-align: start;
    transition: opacity 0.2s ease, visibility 0.2s ease;
}

.column-settings-dropdown-menu button:hover {
    background-color: rgb(208, 208, 208);
}