/* To-Do Item */
.todo-item {
    padding: 8px;
    margin: 5px;
    background-color: #777777;
    font-size: smaller;
    font-style: oblique;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s;
    word-wrap: break-word; /* Ensure text wraps within the item */
    white-space: normal; /* Allow long text to wrap to the next line */
    word-break: break-word; /* Ensures words break when too long */
}

.todo-item:hover {
    transform: scale(1.05);
}

/* Add Todo Button */
.add-todo-btn {
    width: 100%; /* Same width as todo items */
    padding: 8px;
    margin: 5px 0;
    background-color: transparent;
    border: 2px dashed #999999; /* Dashed border */
    color: #999999;
    font-size: 16px;
    border-radius: 5px; /* Same rounded edges as todo items */
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    text-align: center;
}

.add-todo-btn:hover {
    background-color: rgba(52, 152, 219, 0.1); /* Light blue hover effect */
    border-color: #313131;
}

.add-todo-btn span {
    display: block;
    text-align: center;
}