
.todo-item {
    padding: 8px;
    margin: 5px;
    background-color: #777777;
    font-size: smaller;
    font-style: oblique;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s;
    word-wrap: break-word;
    white-space: normal;
    word-break: break-word;
}

.todo-item:hover {
    transform: scale(1.05);
}

.add-todo-btn {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    background-color: transparent;
    border: 2px dashed #999999;
    color: #999999;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    text-align: center;
}

.add-todo-btn:hover {
    background-color: rgba(52, 152, 219, 0.1);
    border-color: #313131;
}

.add-todo-btn span {
    display: block;
    text-align: center;
}