.navbar {
    position: sticky;
    background-color: rgb(29, 33, 37);
    top: 0;
    height: 46px;
    margin-left: 260px;
    width: auto;
    z-index: 1;
    display: flex;
    align-items: center;
}

.navbar-menu {
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    width: 100%;
}

.navbar-item {
    position: relative;
    margin-right: 20px;
}

.navbar-button {
    background-color: transparent;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.navbar-button:hover {
    background-color: transparent;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #444;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    z-index: 1000;
    min-width: 150px;
}

.dropdown-item {
    padding: 10px;
    color: white;
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: #555;
}

.navbar-item:hover .dropdown-menu,
.navbar-item .dropdown-menu {
    display: block;
}

.avatar-container {
    margin-left: auto;
    display: flex;
    align-items: center;
    height: 100%;
    margin-right: 15px;
    background-color: transparent;
}

.avatar {
    background-color: #4CAF50;
    color: white;
    font-size: 12px;
    font-weight: bold;
    width: 30px;
    height: 30px;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    text-align: center;
}