.navbar {
    position: sticky;
    background-color: rgb(29, 33, 37);
    top: 0;
    height: 46px;
    margin-left: 260px;
    width: auto;
    z-index: 1;
    display: flex;
    align-items: center;
}

.navbar-buttons {
    justify-content: start;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    width: 100%;
}

.dropdown-item {
    padding: 10px;
    color: white;
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: #555;
}

.avatar-container {
    margin-left: auto;
    display: flex;
    align-items: center;
    height: 100%;
    background-color: transparent;
}

.avatar {
    background-color: #4CAF50;
    color: white;
    font-size: 12px;
    font-weight: bold;
    width: 30px;
    height: 30px;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    text-align: center;
}

.boards-item {
    position: relative;
    padding-left: 10px;
}

.dropdown-menu {
    position: absolute;
    background-color: #333333;
    list-style: none;
    padding: 0;
    margin: 4px 0 0 0;
    display: none;
    z-index: 1000;
    width: max-content;
    min-width: 190px;
    min-height: 190px;
    border-radius: 8px;
}

.dropdown-menu li {
    border-radius: 4px;
    margin: 5px;
    font-style: italic;
    font-weight: bold;
}

.boards-item:hover .dropdown-menu,
.boards-item .dropdown-menu {
    display: block;
}

.navbar-button {
    background-color: transparent;
    color: white;
    border: none;
    border-radius: 0;
    cursor: pointer;
    margin: 0 10px 0 10px;
}

.navbar-button:hover {
    background-color: #333333;
    border-radius: 2px;
}

.dropdown-arrow {
    margin-left: 2px;
    font-size: 0.6rem;
}

.navbar-item-avatar {
    position: relative;
    margin: 0;
    padding-right: 30px;
    border-radius: 50%;
}

.navbar-item-avatar:hover .dropdown-menu,
.navbar-item-avatar .dropdown-menu {
    display: block;
}

.avatar-button {
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    border-radius: 50%;
    transition: transform 0.2s ease-in-out;
}

.avatar-button:hover{
    background-color: transparent;
    transform: scale(1.1);
}

.dropdown-menu.user-dropdown{
    right: 0;
    position: absolute;
    margin: 10px 3px 0 0;
    width: 240px;
}

.dropdown-menu.user-dropdown li{
    padding: 10px 0 10px 20px;
    font-style: normal;
    font-weight: normal;

}