.navbar {
    position: sticky;
    background-color: rgba(29, 33, 37, 0.76);
    top: 0;
    height: 50px;
    margin-left: 260px;
    width: auto;
    z-index: 1;
    display: flex;
    align-items: center;
}

.dropdown-menu.boards-dropdown,
.navbar-button,
.avatar-button,
.dropdown-item {
    user-select: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.navbar-buttons {
    justify-content: start;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    width: 100%;
}

.dropdown-item {
    padding: 10px;
    color: white;
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: rgba(85, 85, 85, 0.75);
}

.avatar-container {
    margin-left: auto;
    display: flex;
    align-items: center;
    height: 100%;
    background-color: transparent;
}

.avatar {
    background-color: #5343ad;
    color: white;
    font-size: 12px;
    font-weight: bold;
    width: 36px;
    height: 36px;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    text-align: center;
}

.boards-item {
    position: relative;
    padding-left: 10px;
}

.dropdown-menu {
    position: absolute;
    background-color: #333333;
    list-style: none;
    padding: 0;
    margin: 4px 0 0 0;
    display: none;
    z-index: 1000;
    width: max-content;
    min-width: 190px;
    height: auto;
    border-radius: 8px;
}

.dropdown-menu li {
    border-radius: 4px;
    margin: 5px;
    font-style: italic;
    font-weight: bold;
}

.boards-item:hover .dropdown-menu,
.boards-item .dropdown-menu {
    display: block;
}

.dropdown-arrow {
    margin-left: 2px;
    font-size: 0.6rem;
}

.navbar-item-avatar {
    position: relative;
    margin: 0;
    padding-right: 30px;
    border-radius: 50%;
}

.navbar-item-avatar:hover .dropdown-menu,
.navbar-item-avatar .dropdown-menu {
    display: block;
}

.avatar-button {
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    border-radius: 50%;
    transition: transform 0.2s ease-in-out;
}

.avatar-button:hover{
    background-color: transparent;
    transform: scale(1.1);
}

.dropdown-menu.user-dropdown{
    right: 0;
    position: absolute;
    margin: 15px 7px 0 0;
    width: 240px;
    background-color: rgba(47, 47, 47, 0.98);
    border-radius: 4px;
}

.dropdown-menu.user-dropdown::before {
    content: '';
    position: absolute;
    top: -8px;
    right: 33px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid rgba(47, 47, 47, 0.98);
}

.dropdown-menu.user-dropdown li{
    padding: 10px 0 10px 20px;
    font-style: normal;
    font-weight: normal;

}

.navbar-button {
    background-color: transparent;
    color: white;
    border: none;
    font-weight: normal;
    font-size: 17px;
    border-radius: 0;
    cursor: pointer;
    margin: 0 10px 0 6px;
}

.navbar-button:hover {
    background-color: rgba(51, 51, 51, 0.77);
    border-radius: 2px;
}

.dropdown-menu.boards-dropdown {
    padding: 0;
    margin: 12px 0 0 8px;
    background-color: rgba(47, 47, 47, 0.99);
    border-radius: 4px;
}

.dropdown-menu.boards-dropdown li {
    cursor: pointer;
    border-radius: 2px;
    padding: 10px 0 10px 20px;
    font-style: normal;
    font-weight: normal;
    color: white;
}
.dropdown-menu.boards-dropdown li:hover {
    background-color: rgba(77, 76, 76, 0.55);
}

.dropdown-menu.boards-dropdown::before {
    content: '';
    position: absolute;
    top: -8px;
    left: 35px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid rgba(47, 47, 47, 0.98);
}
.create-new-text-button {
    font-weight: bold;
}
.dropdown-boards-button {
    background-color: rgba(128, 128, 128, 0.14);
}

.selected-board-title {
    font-weight: bold;
    color: grey;
    margin-left: 15px;
    font-style: normal;
}

.selected-board-title{
    user-select: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
}