.formContainer {
    font-family: 'Segoe UI', sans-serif;
    background-color: white;
    padding: 40px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.inputFieldText{
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
    text-align: center;
}
.registerTitle {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
    text-align: center;
}

.signupButton{
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.1s;
}
.signupButton:hover {
    background-color: #026ee1;
}

.formContainer h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

input[type="email"],
input[type="mycustom"],
input[type="password"] {
    width: calc(100% - 20px);
    padding: 12px;
    margin: 10px 0 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: block;
    box-sizing: border-box;
}

.errorMessage {
    text-align: center;
    margin-top: 18px;
    color: red;
    margin-bottom: 10px;
}

.link {
    margin-top: 15px;
    text-align: center;
    font-size: 14px;
    color: #666;
}

.link a {
    color: #2196F3;
    text-decoration: none;
    font-weight: 500;
    transition: background-color 0.3s;
}
.link a:hover {
    color: #79bcee;
}

.smallText {
    font-family: Cambria, sans-serif;
    margin-top: 2px;
    font-size: 18px;
    color: #333;
    text-align: center;
}
.emailConfirmationText {
    margin-top: 45px;
    font-size: 12px;
    color: #666;
    text-align: left;
}